
.sidebar {
    width: 200px; 
    height: 70%; 
    position:fixed;
    top: 150px; 
    left: 0; 
    background-color: #7f1fa1; 
    padding-top: 5px; 
  }
  
  .sidebar ul {
    list-style-type: none; 
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    margin-top: 30%;
    display: block; 
    color: black;
    text-decoration: none;
    font-weight: 800;
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

  }
  
  .sidebar ul li a:hover {
    background-color: #883492; 
  }
  
  @media screen and (max-width: 1200px) {
    .sidebar {
      display: none;
        
    }

  }

  @media screen and (max-width: 768px) {
    .sidebar {
        width: 100%; 
        height: auto; 
        top: 0; 
        padding-top: 0; 
    }
  
    .sidebar ul li a {
        margin-top: 20px; 
        font-size: 18px; 
    }
}