

.descriptionPage {
  padding: 50px 0;
  background: #fff;
}
.descriptionPage .section2 {
  margin-top: 30px;
}

.descriptionPage h1 {
  font-size: 30px;
  font-weight: 500;
}

.descriptionPage p {
  
  font-size: 18px;
  line-height: 2;
  text-transform: capitalize;
 
}
.section {
max-width: 800px; 
margin: 0 auto; 
padding: 20px;
}

.section h1 {
font-size: 24px;
color: #333;
margin-bottom: 10px;

}

.section p {
font-size: 16px;
line-height: 1.6;
color: #666;
margin-bottom: 20px;
}

.section1{
  margin-top: 30px;
  margin-bottom: 20px;
}

.points{
  margin-top: 20px;
  font-size: medium;
  
}
 .points h2{
  font-weight:20px;
  font-size:20px;
  
 }
 .descriptionPage h1:hover,
.points h2:hover {
  color: #500e7f; 
  cursor: pointer; 
}