.ECCARD {
  background-color: rgba(255, 0, 0, 0.184);
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  /* height: auto; */
}

.container-e-channel {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-e-channel {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-e-channel {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-e-channel {
    width: 1170px;
  }
}
