.chatbotCard-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  /* background-color: rgba(245, 187, 252, 0.533); */
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  /* height: 100px; */
}

.chatbotCard-left-half {
  flex: 1;
  /* width: 50%; */
}

.chatbotCard-right-half {
  flex: 1;
  /* width: 50%; */
  padding-left: 50px;
  padding-right: 50px;
}

.chatbotImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .chatbotCard-container {
    flex-direction: column;
  }
  .chatbotCard-right-half {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
  }
}
