.HomeTopContent {
}

.background-image {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 80%; */
  background-image: url("../../assets/images/HomePageIMG2.jpg");
}

.HomeWelcomeTextBlock {
  position: absolute;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 20px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  margin-left: 20%;
  margin-right: 20%;

  /* animation-name: scrollAnimation;
  animation-duration: 10s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.4
  ); /* Set background color with opacity */
}

.background-image img {
  position: relative;
  z-index: 1; /* Ensure the image stays above the overlay */
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px); 
  }
}
