.parallax-container {
  height: 100vh;
  overflow: hidden;
  perspective: 1px;
}

.parallax {
  height: 100%;
  width: 100%;
  overflow: hidden;
  perspective: 1px;
}

.parallax-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.parallax {
  background-image: url("../../assets/images/HomePageIMG2.jpg");
  background-size: cover;
  background-position: center;
  transform-style: inherit;
}

.parallax-text h1,
.parallax-text p {
  margin: 0;
}
