.predictionCard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center;
  justify-content: center; */
  /* background-color: rgba(245, 187, 252, 0.533); */
  width: 100%;
  align-items: center;
  justify-content: center;

}

.predictionCard-left-half {
  flex: 1;
  padding-left: 50px;
  padding-right: 50px;
}

.predictionCard-right-half {
  flex: 1;
}

.predictionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
