.visionCard {
  /* border: 10px solid red; */
  width: 640px;
  /* margin: 30px; */
}

.visionContainer {
  /* padding-top: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 10px solid red; */
}

.visionImage {
  /* border: rgb(161, 159, 159) solid; */
  height: 100%;
}
