.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 60px; */
  font-size: 40px;
  margin-bottom: 30px;
}

.learnAboutDementiaContainer {
  background-color: #ffddf778;
  margin-top: 30px;
  padding-top: 15px;
}
