.card {
  margin-left: 30px;
  margin-right: 30px;
  width: 340px;
  transition: 0.2s;
  
}

.card:hover {
  /* box-shadow: 4px 4px rgb(214, 207, 255); */
  background-color: rgba(176, 183, 196, 0.616);
  transform: scale(1.008);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.253),
    0 6px 20px 0 rgba(0, 0, 0, 0.384);
}

