.rightContainer {
  background-color: rgba(193, 171, 212, 0.214);
  margin: 0px;
  padding-top: 50px;
  padding-left: 50px;
}
.leftImageContainer {
  position: relative;
  /* background-color: red; */
}
.contactUsImage {
  width: 100%;
  height: auto;
}
.row {
  /* background-color: blue; */
}

input[type = radio]{
  display: none;
}

.star{
  cursor: pointer;
}
