.awareness {
  margin: 50px 0;
}


 .cardItems {
  
  background-color: rgb(244, 231, 246);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 450px;
  animation: ease-in;
  margin-right: 30px;
  height: min-content;
  margin-top: 50px;
   overflow: hidden;
  
}

.awareness .cardItems:hover {
  box-shadow: 0 2px 4px rgba(244, 2, 131, 0.08);
  cursor: pointer;
  transform: translateY(-5px);
  transform: scale(0.9);
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: max-content;
 
}


